.container,
.text-container {
	max-width: 1000px;
	width: 98%;
	margin: 0 auto;
}

.hero {
	background: #2BA0FF;
}

header {
	background-color: #2BA0FF;
}

body, html {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
}

header ul,
header li {
	list-style: none;
	margin: 0;
	padding: 0;
}

header li {
	display: inline-block;
}

nav {
	text-align: right;
}

header li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: #fff;
}

header li a:hover {
	background: rgba(255,255,255,0.05);
}
