.container, .text-container {
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
}

.text-container {
	max-width: 1140px;
}

.container {
	max-width: 1140px;
}

header {
	color: #fff;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	a {
		color: #fff;
		text-decoration: none;
		z-index: 1;
		position: relative;

		&:hover {
			text-decoration: none;
		}
	}

	.company-name {
		font-size: 1.7em;
	}
}

.content {
	background: #fff;
	padding: 1px 0 0 0;
	position: relative;
}

.screenshot{
	height: auto;
	display: block;
	margin: 0 auto;
	box-shadow: 0 1px 0 #ccc,0 1px 1px #eee;
	border-radius: 2px;
	padding: 20px 0 0;
	background: url(/images/screenshot-buttons.svg) 4px 4px no-repeat #DDD;
	box-shadow: 0px 0px 50px rgba(0,0,0,.3);
}

section {
	padding: 150px 0;
	background: #fff;
	margin-top: -2px;

	&.diagonal {
		-webkit-transform: skewY(-$section-rotation);
		-moz-transform: skewY(-$section-rotation);
		-ms-transform: skewY(-$section-rotation);
		transform: skewY(-$section-rotation);

		> div {
			-webkit-transform: skewY($section-rotation);
			-moz-transform: skewY($section-rotation);
			-ms-transform: skewY($section-rotation);
			transform: skewY($section-rotation);
		}
	}

	&.hero {
		color: #ffffff;
		background: $brand-color;
		text-align: left;
		margin-top: -100px;
		padding-top: 250px;

		h2, p {
			max-width: 90%;
		}

		h2 {
			font-size: 3.5rem;
		}

		p {
			font-size: 1.8rem;
			color: #fff;
		}

		a {
			color: #ab7a28;

		}
	}

	&.alternate {
		background: #eee;
	}
}

.halves {
	@extend %flexbox;
	@include flex-flow(wrap);
	align-items: center;

	> div {
		-webkit-flex: 1;
		flex: 1;
	}

	> div + div {
		padding-left: 20px;
	}
}

.image-grid {
	@extend %flexbox;
	@include flex-flow(wrap);
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		-webkit-flex: 1 1 40%;
		flex: 1 1 40%;
		margin: 20px;
	}

	img {
		width: 100%;
	}
}

.image-list,
.image-list li {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.patterned {
	background: #222 url(/images/footer_lodyas.png);
	color: #fff;

}
